<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <div class="login-container">

        <form method="post">
            <label for="email">
                Email:
                <input type="email" name="email" class="email" id="email" />
            </label>
            <label for="password">
                Password:
                <input type="password" name="password" class="password" id="password" />
            </label>

            <button type="submit" class="submit">Access</button>
        </form>

    </div>

</body>
</html>