<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>

<div class="profile-container">

  <header>
    <h1 th:text="${user.name}"></h1>
    <span>
      <a href="/login">Sair</a>
    </span>
  </header>
  <div class="content">
    <div class="painel">
      <button>
        Adicionar nova imagem
      </button>
    </div>
    <div class="galery" th:each="image: ${images}">
      <div class="image">
        <img th:src="${image.url}" alt="image">
      </div>
    </div>
  </div>

</div>

</body>
</html>
